### https://raw.github.com/github/gitignore/14b7566ce157ce95b07006466bacee160f242284/Global/Linux.gitignore

*~

# KDE directory preferences
.directory


### https://raw.github.com/github/gitignore/14b7566ce157ce95b07006466bacee160f242284/Global/Emacs.gitignore

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/


*.orig
